{% extends "base.html" %}

{% block title %}Password Reset Request{% endblock %}

{% block header %}Password Reset{% endblock %}

{% block content %}
<p>Hello <strong>{{ user_name | default('User') }}</strong>,</p>

<p>We received a request to reset your password for your {{ app_name | default('InQuantic') }} account.</p>

<p>To reset your password, click the button below:</p>

<center>
    <a href="{{ reset_link }}" class="button">Reset Password</a>
</center>

<p>If the button doesn't work, copy and paste this link into your browser:</p>
<p style="word-break: break-all; color: #667eea;">{{ reset_link }}</p>

<p><strong>Important Security Information:</strong></p>
<ul>
    <li>This link will expire in <strong>{{ expiry_hours | default('24') }} hours</strong></li>
    <li>If you didn't request this reset, please ignore this email</li>
    <li>Your password will not change unless you access the link above and create a new one</li>
</ul>

<p>For security reasons, we cannot send your old password. If you're having trouble, please contact our support team.
</p>

<p>Best regards,<br>
    The {{ app_name | default('InQuantic') }} Team</p>
{% endblock %}